<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="width:100% ; height:100%">
    <ion-item>
      <ion-label>
        <div class="display__flex">
          <div class="image__display">
            <ion-img src="assets/fenda.png" class="imagem"></ion-img>
          </div>
          <div class="title__display" *ngIf="!valorPadrao">
            <h1>Dados do Serviço</h1>
          </div>
          <div class="desc__display" *ngIf="!valorPadrao">
            <h3>{{produtoSelecionado.nome}}</h3>
            <h3>{{produtoSelecionado.valor}}</h3> 
          </div>
          <form *ngIf="valorPadrao" class="width100">
            <div class="title__display">
              <h1>Dados do Serviço</h1>
            </div>
            <div class="desc__display" >
              <ion-item>
                <ion-label position="floating" >Nome</ion-label>
                <ion-input [(ngModel)]="produtoSelecionado.nome" name="nome"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" >Valor</ion-label>
                <ion-input [(ngModel)]="produtoSelecionado.valor" name="valor"></ion-input>
              </ion-item>
            </div>
            <div class="button__display">
              <ion-button (click)="salvarDado()" routerLink="/servicos" >
                <ion-icon name="checkmark-outline"></ion-icon>
              </ion-button>
            </div>
          </form>
        </div>
      </ion-label>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="alterarDado()" *ngIf="!valorPadrao">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="removerDado()" *ngIf="!valorPadrao" routerLink="/servicos">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
