<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!valorPadrao">Dados Contato</ion-title>
    <ion-title *ngIf="valorPadrao">Editar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!valorPadrao">
    <div class="contato" >
      <h2>{{telSelecionado.nome}} {{telSelecionado.sobrenome}}</h2>
      <p>{{telSelecionado.numero}}</p>
      <p>{{telSelecionado.email}}</p>
      <p style="text-transform: capitalize;">{{telSelecionado.tipo}}</p>
    </div>
  </ion-item>
  

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="alterarDado()" *ngIf="!valorPadrao">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert()" *ngIf="!valorPadrao">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form *ngIf="valorPadrao" #form="ngForm" (ngSubmit)="salvarDado()" [formGroup]="userForm">
    <div class="edit__display">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input  formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input  formControlName="sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input  formControlName="numero" type="float" maxlength="15" placeholder="(99) 99999-9999" simpleMask="(99) 99999-9999"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Selecione o tipo do contato:" formControlName="tipo">
            <ion-select-option value="celular" name="celular">Celular</ion-select-option>
            <ion-select-option value="casa" name="casa">Casa</ion-select-option>
            <ion-select-option value="trabalho" name="trabalho">Trabalho</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div class="button__display">
      <ion-button type="submit">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-content>
