<ion-header>
  <ion-toolbar>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor ="let todosDados of todosDados" routerLink="/dados-lista/{{todosDados.id.value}}" class="item__contato">
    <div class="contato">
      <div class="space-side">
        <ion-icon name="person-circle" class="icon--side"></ion-icon>
        <h2>{{todosDados.nome}}</h2>
      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
  </ion-item>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/dados-lista/edit">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-toggle (ionChange)="trocaTema($event)"></ion-toggle>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<script></script>