.produto__title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.produto__text {
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
    padding: 5px 0;
}


.produto__img {
    width: 200px;
    margin: 0 auto;
}