<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor ="let todosDados of todosDados" routerLink="/serv-interno/{{todosDados.id}}">
    <div class="servico">
      <h2>{{todosDados.nome}}</h2>
      <p>R$ {{todosDados.valor}}</p>
    </div>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/serv-interno/-1">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<script></script>